.navbar-style{
  background-color: rgb(238, 203, 203);
}
.logo-image-style{
 height:50px;
  width: 50px;
}
.logo-text-style{
  margin:-21px 0px 0px 50px;
}
*{
  font-family:'Times New Roman', Times, serif;
}